<%- include('../partials/header') %>

<main class="py-12 flex flex-1 flex-col justify-center items-center">
  <div class="bg-primary-white rounded-lg shadow-lg max-w-md w-full p-6">
    <div class="bg-gray-50 flex flex-col items-center text-center">
      <form action="/forgotpassword" method="post" onsubmit="return validateEmail()">
        <p class="text-2xl font-semibold text-gray-800 mb-4">Forgot Password?</p>
        <p class="text-gray-600 mb-6">Enter your email to reset your password</p>

        <input 
          type="email" 
          id="email" 
          name="email" 
          placeholder="Enter your email" 
          class="border w-full mb-6 px-3 py-2 rounded-md"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}"
          title="Please enter a valid email address"
        />

        <!-- Error message is moved here, above the button -->
        <div id="error-message" class="text-red-500 mb-4" style="display: none;">
          Please enter a valid email address.
        </div>

        <button type="submit" class="w-full py-2 mb-4 text-white bg-primary-accent rounded-md">
          Send Reset Link
        </button>
      </form>

      <a href="/login" class="text-primary-accent">Back to Login</a>
    </div>
  </div>
</main>

<script>
  function validateEmail() {
    const email = document.getElementById('email').value;
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
    const errorMessage = document.getElementById('error-message');

    if (!emailPattern.test(email)) {
      errorMessage.style.display = 'block'; // Show the error message
      return false; // Prevent form submission
    }

    errorMessage.style.display = 'none'; // Hide the error message if email is valid
    return true; // Allow form submission
  }
</script>

<%- include('../partials/footer') %>
