<%- include('../partials/header') %>
<main class="py-12 flex justify-center items-center">
  <div class="bg-primary-white rounded-lg shadow-lg flex flex-col lg:flex-row overflow-hidden max-w-4xl w-full">
    <!-- Image Section -->
    <div class="bg-blue-100 p-8 flex justify-center items-center">
      <img alt="Illustration of reset password" src="./images/reset-password.png" class="object-cover max-w-full h-auto"/>
    </div>
    <!-- Form Section -->
    <div class="bg-gray-50 p-6 md:p-12 flex-1">
      <p class="text-2xl font-semibold text-gray-800 mb-2">Reset Password</p>
      <p class="text-gray-600 mb-6">Enter your new password</p>
      <div class="space-y-4">
        <input type="password" placeholder="New Password" class="border w-full px-3 py-2 rounded-md"/>
        <input type="password" placeholder="Confirm New Password" class="border w-full px-3 py-2 rounded-md"/>
      </div>
      <p class="text-xs text-gray-500 mt-2 mb-6">
        Password must contain at least 8 characters, including uppercase, lowercase letters, numbers, and special characters.
      </p>
      <button type="submit" class="w-full py-2 mb-4 text-white bg-primary-accent rounded-md">Reset Password</button>
      <a href="/login" class="text-center text-primary-accent block">Back to Login</a>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>